<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Cobrador</title>
    </h:head>
    <h:body>
      <h:messages/>
      <h1>Novo cobrador</h1>
      <h:form>
	      <fieldset>
	      	<p> Nome: <h:inputText value="#{cadastrarCobradorMBean.cobrador.nome}" size="50" 
	        required="true" requiredMessage="Nome: Campo obrigatório." /> </p>
	        <p> CPF: <h:inputText value="#{cadastrarCobradorMBean.cobrador.cpf}" size="20" 
	        required="true" requiredMessage="CPF: Campo obrigatório." /> </p>
	        <p> Matrícula: <h:inputText value="#{cadastrarCobradorMBean.cobrador.matricula}" size="20" 
	        required="true" requiredMessage="Matrícula: Campo obrigatório." /> </p>
	        <p> Endereço: <h:inputTextarea value="#{cadastrarCobradorMBean.cobrador.endereco}" size="50" 
	        required="true" requiredMessage="Endereço: Campo obrigatório." /> </p>
	        <p> <h:commandButton value="Cadastrar" action="#{cadastrarCobradorMBean.cadastrar}" />
	        <h:commandButton value="Voltar" action="#{cadastrarCobradorMBean.voltar}" immediate="true"/> </p>
	      </fieldset>
      </h:form>
    </h:body>
</html>