<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ônibus</title>
    </h:head>
    <h:body>
      <h:form>
      <h:messages/>
      <h1>Lista de ônibus</h1>
		<h:dataTable value="#{cadastrarOnibusMBean.listagem}" var="onibus" border="1">
	  		<h:column>
    			<f:facet name="header">Marca</f:facet>
    			#{onibus.marca}
    		</h:column>
    			<h:column>
    			<f:facet name="header">Modelo</f:facet>
    			#{onibus.modelo}
    		</h:column>
    			<h:column>
    			<f:facet name="header">Ano</f:facet>
    			#{onibus.ano}
    		</h:column>
    		<h:column>
    			<f:facet name="header">Empresa</f:facet>
    			#{onibus.empresa.razaoSocial}
    		</h:column>
    		<h:column>
    			<f:facet name="header">Motorista</f:facet>
    			#{onibus.motorista.nome}
    		</h:column>
    		<h:column>
    			<f:facet name="header">Cobrador</f:facet>
    			#{onibus.cobrador.nome}
    		</h:column>
    		<h:column>
    			<f:facet name="header">Linha</f:facet>
    			#{onibus.linha.ident}
    		</h:column>
	  </h:dataTable>
	  <h:commandLink action="#{cadastrarOnibusMBean.entrarCadastro}"  value="Voltar"/> <br/>
	  </h:form>
    </h:body>
</html>